---
layout: default
---
<!-- _layouts/cv.html -->
<!-- <div class="post">

	<object data="../assets/pdf/Neel_CV.pdf#pagemode=none" width="750" height="1000" type='application/pdf'></object>

</div>-->


<!DOCTYPE html>
<html lang="en-US">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
  <title>Redirecting…</title>
  <link rel="canonical" href="../assets/pdf/Neel_CV.pdf">
  <script>location="../assets/pdf/Neel_CV.pdf"</script>
  <meta http-equiv="refresh" content="0; url=../assets/pdf/Neel_CV.pdf">
  <meta name="robots" content="noindex">
  </head>
<body>
<h1>Redirecting…</h1>
  <a href="../assets/pdf/Neel_CV.pdf">Click here if you are not redirected.</a>
</body>
</html>